<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Modern_UI_Material_Sklad.Properties.Settings.Курсовая_3_КурсConnectionString"
            connectionString="Data Source=u12;Initial Catalog=Курсовая_3_Курс;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Modern_UI_Material_Sklad.Properties.Settings.Kurs_3_Material_SkladConnectionString"
            connectionString="Data Source=192.168.1.103,3305;Initial Catalog=Kurs_3_Material_Sklad;User ID=sa;Password=1"
            providerName="System.Data.SqlClient" />
        <add name="Modern_UI_Material_Sklad.Properties.Settings.Kurs_3_Material_SkladConnectionString1"
            connectionString="Data Source=u12;Initial Catalog=Kurs_3_Material_Sklad;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>